<form [formGroup]="personaModel">
    <mat-form-field class="form-group">
        <mat-label for="nombre">Nombre </mat-label>
        <input matInput type="text" id="nombre" formControlName="nombre" appearence="fill" [(ngModel)]="nombreusr">
        <div class="errors-container" *ngIf="nombrecontrol.invalid && (nombrecontrol.touched || nombrecontrol.dirty)">
            <p class="error-msg" *ngIf="nombrecontrol.hasError('required')">El campo es obligatorio </p>
            <p class="error-msg" *ngIf="nombrecontrol.hasError('minLength(2)')">El nombre tiene que tener 3 letras minimo </p>
        </div>
        </mat-form-field>
    <mat-form-field class="form-group">
        <mat-label for="apellido">Apellido</mat-label>
        <input matInput type="text" id="apellido" formControlName="apellido" appearence="fill" [(ngModel)]="apellidousr">
        <div class="errors-container" *ngIf="apellidocontrol.invalid && (apellidocontrol.touched || apellidocontrol.dirty)">
            <p class="error-msg" *ngIf="apellidocontrol.hasError('required')">El campo es obligatorio </p>
            <p class="error-msg" *ngIf="apellidocontrol.hasError('minLength(2)')">El nombre tiene que tener 3 letras minimo </p>
        </div>
    </mat-form-field>
    <mat-form-field class="form-group">
        <mat-label for="email">Email</mat-label>
        <input matInput type="text" id="email" formControlName="email" appearence="fill" [(ngModel)]="emailusr">
        <div class="errors-container" *ngIf="emailcontrol.invalid && (emailcontrol.touched || emailcontrol.dirty)">
            <p class="error-msg" *ngIf="emailcontrol.hasError('required')">El campo es obligatorio </p>
            <p class="error-msg" *ngIf="emailcontrol.hasError('email')">El campo debe ser un email </p>
        </div>
    </mat-form-field>
    <div class="form-group">
        <button (click)="CrearAlumno()" class="btn btn-primary btn-sm" [disabled]="personaModel.invalid">Guardar</button>
    </div>
</form>
<pre>{{personaModel.value | json}}</pre>
<div>
    <h3>La cantidad de alumnos es de : {{estudiantesTotal | async}}</h3>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumnos from alumnostotal">
                    <td>{{alumnos.nombre}</td>
                    <td>{{alumnos.apellido}}</td>
                    <td>{{alumnos.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>